<?xml version="1.0" encoding="UTF-8"?>

<web-app>

<display-name>Food Order System</display-name>

<servlet>
	<servlet-name>orderCart</servlet-name>
	<servlet-class>foodDrink.OrderCartServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>orderCart</servlet-name>
	<url-pattern>/cart</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>foodOrder</servlet-name>
	<servlet-class>foodDrink.FoodDrinkServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>foodOrder</servlet-name>
	<url-pattern>/order</url-pattern>
</servlet-mapping>

<welcome-file-list>
	<welcome-file>foodorder.html</welcome-file>
</welcome-file-list>

</web-app>